---
import cryptoSg from "../../../public/images/projects/crypto_explorer.png";
import obsidianImg from "../../../public/images/projects/obsidian-template-trigger.png";
import Card from "../Card/Card.astro";
import DotGrid from "../DotGrid.astro";
import TextInBox from "../text/TextInBox.astro";
const projects = [
  {
    title: "Auto Template Trigger",
    src: obsidianImg,
    github: "https://github.com/numeroflip/obsidian-auto-template-trigger",
    tech: ["TypeScript"],
    description: `<p>
      An <a class="text-secondary-700 hover:underline active:text-secondary-800 font-semibold" href="https://obsidian.md" target="_blank">obsidian.md</a> plugin, which
      automates adding templates to new files.
    </p>
    <p>It has over 10k downloads.</p>
    `,
  },
  {
    title: "Token Explorer",
    src: cryptoSg,
    url: "https://your-crypto-list.vercel.app/",
    github: "https://github.com/numeroflip/your-crypto-list",
    tech: ["TypeScript", "React", "Next.js", "Tailwind"],
    description: `<p>
      Browse tokens on multiple blockchains, and select your favorites
      (cookie based)
    </p>
    <p>
      It's mostly server side rendered, and has perfect performance scores.
    </p>
    `,
  },
];
---

<section id="projects" class="layout w-full scroll-m-7 py-10 pt-20">
  <div class="relative mb-10 inline-block">
    <div class="text-primary-900/15">
      <DotGrid />
    </div>
    <TextInBox as="h2" class="relative z-10 bg-secondary-200 text-black">
      Projects
    </TextInBox>
  </div>
  <ul
    class="grid gap-10 overflow-x-auto py-10 pr-2 md:grid-cols-2 lg:grid-cols-2"
  >
    {
      projects.map((project) => (
        <Card
          as="li"
          class="h-full w-full border-2 border-text bg-white"
          title={project.title}
          image={project.src}
          tech={project.tech}
          url={project.url}
          github={project.github}
        >
          <Fragment slot="description" set:html={project.description} />
        </Card>
      ))
    }
  </ul>
</section>
