---
import clsx from "clsx";
import { twMerge } from "tailwind-merge";
const classes = {
  entry: clsx(
    [
      "group z-10 relative items-center",
      "grid [grid-template-areas:'._card''dot_header']",
      "grid-cols-[var(--timeline-width)_1fr]",
    ],
    [
      "md:grid-cols-[1fr_var(--timeline-width)_1fr]",
      "md:text-start gap-5 ",

      "md:odd:[grid-template-areas:'._._card''._dot_header']",
      "md:odd:self-end",

      "md:even:[grid-template-areas:'card_._.''header_dot_.']",
    ]
  ),
  timeLine: clsx(
    "w-[--timeline-width] justify-self-center border-2 border-current bg-secondary-200 shadow-straight"
  ),
  card: clsx(
    "p-5 relative [grid-area:card] text-sm bg-white border-2 border-current shadow-straight "
  ),
  dot: clsx(
    "w-[70%] md:w-4/6 aspect-square  [grid-area:dot] place-self-center rounded-full border-2 border-current bg-primary-100 "
  ),
  header: clsx(
    "[grid-area:header] text-xl font-bold group-odd:self-end md:group-odd:self-start md:group-even:justify-self-end md:group-even:self-end"
  ),
};
---

<section class="my-32 [--timeline-width:18px] md:[--timeline-width:20px]">
  <!-- Timeline top part -->
  <div class="z-0 flex w-full flex-col gap-1 md:items-center">
    <div class={twMerge(classes.timeLine, "rounded-none z-0 h-[6px]")}></div>
    <div class={twMerge(classes.timeLine, "rounded-none z-0  h-3")}></div>
  </div>
  <ul
    class="relative my-1 flex min-h-64 w-full flex-col justify-center gap-10 pt-2"
  >
    <li class={classes.entry}>
      <!-- Dot -->
      <div class={classes.dot}></div>

      <div class={classes.header}>
        <h3
          class="flex items-center gap-1 text-xl font-bold group-odd:self-end"
        >
          2022 <span class="text-sm font-medium text-text/50"> - Present</span>
        </h3>
      </div>
      <div class={twMerge(classes.card)}>
        <div
          class="mb-2 flex w-full justify-between border-b-2 border-primary-950/10 pb-2"
        >
          <div class="flex flex-col">
            <span class="text-lg"> Frontend Engineer </span>
            <div class="text-xs text-text/50">@ Prepend GmbH</div>
            <div>2022 - Present</div>
          </div>
        </div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eius
          provident qui quis eveniet voluptate harum, perferendis tenetur hic ea
          explicabo aspernatur esse! Culpa, quis voluptatibus sunt distinctio
          unde ipsam.
        </div>
      </div>
    </li>

    <li class={classes.entry}>
      <div class={classes.dot}></div>

      <div class={classes.header}>
        <h3
          class="flex items-center gap-1 text-xl font-bold group-odd:self-end"
        >
          2021
        </h3>
      </div>

      <div class={twMerge(classes.card)}>
        Prepend GmBh
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
          debitis, placeat earum culpa inventore nostrum odio tempora veniam eum
          molestiae exercitationem nesciunt porro nobis error. Quasi totam nisi
          hic omnis.
        </div>
      </div>
    </li>

    <div
      class="absolute inset-0 z-0 flex flex-col gap-1 rounded-full md:items-center md:justify-center"
    >
      <div class={twMerge(classes.timeLine, "z-20 grow rounded-b-full")}></div>
    </div>
  </ul>

  <!-- Timeline bottom part -->
</section>
